* @Motion4Life    // every file belongs to Motion4Life
*.js @Motion4Life   // every js files belongs to Motion4Life

*.yml @anotherAccount  // .yml files belong to anotherAccount
/public   @Motion4Life